<div class="container-fluid">
  <div class="align-items-center text-center container separacion bg-W space_form">
    <div class="row justify-content-end">
      <div class="col-10">
        <p class="h1">Usuarios</p>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger" routerLink="/Home">Regresar</button>
      </div>
    </div>

    <div class="divider card-primary"></div>

    <div class="container separacion">
      
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#todos" role="tab">Todos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#oficialia" role="tab">Oficialia</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#radicaciones" role="tab">Radicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#mesa" role="tab">Mesa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#actuario" role="tab">Actuario</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#proyectista" role="tab">Proyectista</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#pleno" role="tab">Pleno</a>
        </li>
        <li class="nav-item">
          <button type="button" routerLink="./add" class="btn btn-primary btn-agregar" >Agregar Usuario</button>
        </li>
      </ul>
      
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active" id="todos" role="tabpanel">
          <!-- User Table -->
          <div class="container">
            <div class='user-table usuarios-five-column row'>
              <!-- User card -->
              <div class="row col-md-10 col-md-offset-2 custyle">
                <table class="table table-striped custab">
                  <thead>
                    <tr>
                      <th class="text-center">Nombre</th>
                      <th class="text-center">Rol</th>
                      <th class="text-center">Usuario</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tr *ngFor="let usuario of usuarios; let i = index">
                    <td>{{usuario.usrNombre}}</td>
                    <td>{{usuario.RolDescripcion}}</td>
                    <td>{{usuario.usrName}}</td>
                    <td class="text-center">
                      <a class='btn btn-info btn-xs' [routerLink]="['./edit', i]">
                        <span class="glyphicon glyphicon-edit"></span> Editar</a>
                      <a [routerLink]="['./delete', i]" class="btn btn-danger btn-xs">
                        <span class="glyphicon glyphicon-remove"></span> Borrar</a>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- End user card   -->
            </div>
          </div>
          <!-- End User table -->
        </div>
        <div class="tab-pane" id="oficialia" role="tabpanel">
          <!-- User Table -->
          <div class="container">
            <div class='user-table usuarios-five-column row'>
              <!-- User card -->
              <div class="row col-md-10 col-md-offset-2 custyle">
                <table class="table table-striped custab">
                  <thead>
                    <tr>
                      <th class="text-center">Nombre</th>
                      <th class="text-center">Rol</th>
                      <th class="text-center">Usuario</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <ng-container *ngFor="let usuario of usuarios; let i = index">
                    <tr *ngIf="(usuario.RolNombre == 'OFI_CIA')">
                      <td>{{usuario.usrNombre}}</td>
                      <td>{{usuario.RolDescripcion}}</td>
                      <td>{{usuario.usrName}}</td>
                      <td class="text-center">
                        <a class='btn btn-info btn-xs' [routerLink]="['./edit', i]">
                          <span class="glyphicon glyphicon-edit"></span> Editar</a>
                        <a [routerLink]="['./delete', i]" class="btn btn-danger btn-xs">
                          <span class="glyphicon glyphicon-remove"></span> Borrar</a>
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </div>
              <!-- End user card   -->
            </div>
          </div>
          <!-- End User table -->
        </div>
        <div class="tab-pane" id="radicaciones" role="tabpanel">
          <!-- User Table -->
          <div class="container">
            <div class='user-table usuarios-five-column row'>
              <!-- User card -->
              <div class="row col-md-10 col-md-offset-2 custyle">
                <table class="table table-striped custab">
                  <thead>
                    <tr>
                      <th class="text-center">Nombre</th>
                      <th class="text-center">Rol</th>
                      <th class="text-center">Usuario</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <ng-container *ngFor="let usuario of usuarios; let i = index">
                    <tr *ngIf="(usuario.RolNombre == 'RAD_ICA')">
                      <td>{{usuario.usrNombre}}</td>
                      <td>{{usuario.RolDescripcion}}</td>
                      <td>{{usuario.usrName}}</td>
                      <td class="text-center">
                        <a class='btn btn-info btn-xs' [routerLink]="['./edit', i]">
                          <span class="glyphicon glyphicon-edit"></span> Editar</a>
                        <a [routerLink]="['./delete', i]" class="btn btn-danger btn-xs">
                          <span class="glyphicon glyphicon-remove"></span> Borrar</a>
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </div>
              <!-- End user card   -->
            </div>
          </div>
          <!-- End User table -->
        </div>
        <div class="tab-pane" id="mesa" role="tabpanel"> 
          <!-- User Table -->
          <div class="container">
            <div class='user-table usuarios-five-column row'>
              <!-- User card -->
              <div class="row col-md-10 col-md-offset-2 custyle">
                <table class="table table-striped custab">
                  <thead>
                    <tr>
                      <th class="text-center">Nombre</th>
                      <th class="text-center">Rol</th>
                      <th class="text-center">Usuario</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <ng-container *ngFor="let usuario of usuarios; let i = index">
                    <tr *ngIf="(usuario.RolNombre == 'MES_A')">
                      <td>{{usuario.usrNombre}}</td>
                      <td>{{usuario.RolDescripcion}}</td>
                      <td>{{usuario.usrName}}</td>
                      <td class="text-center">
                        <a class='btn btn-info btn-xs' [routerLink]="['./edit', i]">
                          <span class="glyphicon glyphicon-edit"></span> Editar</a>
                        <a [routerLink]="['./delete', i]" class="btn btn-danger btn-xs">
                          <span class="glyphicon glyphicon-remove"></span> Borrar</a>
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </div>
              
              <!-- End user card   -->
            </div>
          </div>
          <!-- End User table -->
        </div>
        <div class="tab-pane" id="actuario" role="tabpanel">
          <!-- User Table -->
          <div class="container">
            <div class='user-table usuarios-five-column row'>
              <!-- User card -->
              <div class="row col-md-10 col-md-offset-2 custyle">
                <table class="table table-striped custab">
                  <thead>
                    <tr>
                      <th class="text-center">Nombre</th>
                      <th class="text-center">Rol</th>
                      <th class="text-center">Usuario</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <ng-container *ngFor="let usuario of usuarios; let i = index">
                    <tr *ngIf="(usuario.RolNombre == 'ACT_ARIO')">
                      <td>{{usuario.usrNombre}}</td>
                      <td>{{usuario.RolDescripcion}}</td>
                      <td>{{usuario.usrName}}</td>
                      <td class="text-center">
                        <a class='btn btn-info btn-xs' [routerLink]="['./edit', i]">
                          <span class="glyphicon glyphicon-edit"></span> Editar</a>
                        <a [routerLink]="['./delete', i]" class="btn btn-danger btn-xs">
                          <span class="glyphicon glyphicon-remove"></span> Borrar</a>
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </div>
              <!-- End user card   -->
            </div>
          </div>
          <!-- End User table -->
        </div>

        <div class="tab-pane" id="proyectista" role="tabpanel">
          <!-- User Table -->
          <div class="container">
            <div class='user-table usuarios-five-column row'>
              <!-- User card -->
              <div class="row col-md-10 col-md-offset-2 custyle">
                <table class="table table-striped custab">
                  <thead>
                    <tr>
                      <th class="text-center">Nombre</th>
                      <th class="text-center">Rol</th>
                      <th class="text-center">Usuario</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <ng-container *ngFor="let usuario of usuarios; let i = index">
                    <tr *ngIf="(usuario.RolNombre == 'PRO_ECTA')">
                      <td>{{usuario.usrNombre}}</td>
                      <td>{{usuario.RolDescripcion}}</td>
                      <td>{{usuario.usrName}}</td>
                      <td class="text-center">
                        <a class='btn btn-info btn-xs' [routerLink]="['./edit', i]">
                          <span class="glyphicon glyphicon-edit"></span> Editar</a>
                        <a [routerLink]="['./delete', i]" class="btn btn-danger btn-xs">
                          <span class="glyphicon glyphicon-remove"></span> Borrar</a>
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </div>
              <!-- End user card   -->
            </div>
          </div>
          <!-- End User table -->
        </div>
        
        <!-- ready -->
        <div class="tab-pane" id="pleno" role="tabpanel">
          <!-- User Table -->
          <div class="container">
            <div class='user-table usuarios-five-column row'>
              <!-- User card -->
              <div class="row col-md-10 col-md-offset-2 custyle">
                <table class="table table-striped custab">
                  <thead>
                    <tr>
                      <th class="text-center">Nombre</th>
                      <th class="text-center">Rol</th>
                      <th class="text-center">Usuario</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <ng-container *ngFor="let usuario of usuarios; let i = index">
                    <tr *ngIf="(usuario.RolNombre == 'PLENO')">
                      <td>{{usuario.usrNombre}}</td>
                      <td>{{usuario.RolDescripcion}}</td>
                      <td>{{usuario.usrName}}</td>
                      <td class="text-center">
                        <a class='btn btn-info btn-xs' [routerLink]="['./edit', i]">
                          <span class="glyphicon glyphicon-edit"></span> Editar</a>
                        <a [routerLink]="['./delete', i]" class="btn btn-danger btn-xs">
                          <span class="glyphicon glyphicon-remove"></span> Borrar</a>
                      </td>
                    </tr>
                  </ng-container>
                </table>
              </div>
              <!-- End user card   -->
            </div>
          </div>
          <!-- End User table -->
        </div>
      </div>

    </div>
  </div>
</div>