<nav class="navbar navbar-toggleable-md navbar-light bg-faded navbar-inverse bg-primary">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  <a class="navbar-brand" href="#">
      <img src="/assets/Logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
      JLCA
    </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" routerLink="/Home">Inicio </a> -->
        <button type="button" class="btn btn-primary" routerLink="/Home">Inicio</button>
      </li>
      <!-- <span class="sr-only">(current)</span> -->
      <li class="nav-item">
        <!-- <a class="nav-link text-white" routerLink="/NDemanda" href="#">Registrar</a> -->
        <button type="button" class="btn btn-primary" routerLink="/NDemanda">Registrar</button>
      </li>
      <li class="nav-item">
        <!-- <a class="nav-link text-white" routerLink="/CDemanda" href="#">Consultar</a> -->
        <button type="button" class="btn btn-primary" routerLink="/CDemanda">Consultar</button>
      </li>
      <li class="nav-item">
        <!-- Inicio Dropdown-->
        <!-- Example single danger button -->

        <div class="btn-group">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Catalogos
          </button>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">Catalogos</h6>
            <a class="dropdown-item" href="#">Actores</a>
            <a class="dropdown-item" href="#">Demandados</a>
            <a class="dropdown-item" href="#">Mesas</a>
            <div class="dropdown-divider" *ngIf="permission1"></div>
            <h6 class="dropdown-header" *ngIf="permission1">Administracion</h6>
            <a class="dropdown-item" href="#" *ngIf="this.permission1">Usuarios</a>
          </div>
        </div>
        <!-- Fin Dropdown-->

      </li>
    </ul>

      

    <p class="mr-auto label-Rol text-white">
       {{userRol}}
    </p>
    <form class="form-inline my-2 my-lg-0" (ngSubmit)="onLogout()">
      <button class="btn btn btn-danger my-2 my-sm-0" type="submit">Salir</button>
    </form>
  </div>
</nav>