.cal-day-selected,
.cal-day-selected:hover {
    background-color: red !important;
}

.row {
    padding-top: 1em;
}

.scrollable {
    overflow-y: scroll;
}

container {
    overflow: hidden;
}

.U-Event{
    list-style: none;
    padding: 12px;
    margin-top: 10px;
    border-radius: 3px;
    box-shadow: 3px 3px grey;
}